*{
    box-sizing: border-box;
    font-family: 'Tw Cen MT Condensed', sans-serif;
}

.scroll-wrapper{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    position: absolute;
}
body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}
section{
    display: grid;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    align-items: center;
}
.second{
    align-items: center;
}
img{
    width: 100vw;
    max-width: 100%;   
    /*
    color: rgb(255, 165, 0);
    text-align: center;
    margin: 450px 0 550px 0;
    font-size: 60px;
    */ 
}
li{
    display: flex;
    color: white;
    font-size: 35px;
    float: right;
    padding: 10px;
}
li:first-child{
    float: left;
}
.payto{
    color: white;
}
.lose{
    color: black;
    background-color: #FFA500;
    padding: 5px;
    border-radius: 15px;
}
.box-holder{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
	color: white;
    justify-content: center;
}
.box{
    padding: 5px;
    font-size: 25px;
    margin: 25px;
}
.nev{
    color: #FFA500;
}
main{
    /*background: linear-gradient(to bottom, black 0%, #262626 40%);*/
}
.right{
    margin-right: 2vw;
}
a{
    color: white;
    text-decoration: none;
}
.video-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.video{
    width: 350px;
    transition: transform 250ms;
}
.video img{
    width: 80%;
    border-radius: 5px;
    transition: transform 250ms;
}
.video:hover img{
    transform: translateY(-5px);
}
.h1{
    color: white;
    text-align: center;
    font-size: 30px;
}